{% comment %}
  Render share links for social media

  Accepts:
  - share_link: {String} Share item  link
  - share_title: {String} Share item title
  - share_img: {String} Share item image
{% endcomment %}
<ul class="social-links social-links--share">
  {% if settings.share_facebook %}
    <li class="social-links__item">
      <a
        href="//www.facebook.com/sharer.php?u={{ share_link }}"
        class="social-links__link icon-fallback"
        target="_blank"
        aria-label="Share on Facebook"
      >
        {%- render 'icons-social', icon: 'facebook', title: 'Facebook' -%}
      </a>
    </li>
  {% endif %}
  {% if settings.share_X %}
    <li class="social-links__item">
      <a
        href="//x.com/share?text={{ share_title }}&url={{ share_link }}"
        class="social-links__link icon-fallback"
        target="_blank"
        aria-label="Share on X"
      >
        {%- render 'icons-social', icon: 'x', title: 'X' -%}
      </a>
    </li>
  {% endif %}
  {% if settings.share_twitter %}
    <li class="social-links__item">
      <a
        href="//twitter.com/share?text={{ share_title }}&url={{ share_link }}"
        class="social-links__link"
        target="_blank"
        aria-label="Share on Twitter"
      >
        {%- render 'icons-social', icon: 'twitter', title: 'Twitter' -%}
      </a>
    </li>
  {% endif %}
  {% if settings.share_pinterest %}
    <li class="social-links__item">
      <a
        href="http://pinterest.com/pin/create/button/?url={{ share_link }}&media={{ share_img }}&description={{ share_title }}"
        class="social-links__link icon-fallback"
        target="_blank"
        aria-label="Share on Pinterest"
      >
        {%- render 'icons-social', icon: 'pinterest', title: 'Pinterest' -%}
      </a>
    </li>
  {% endif %}
  {% if settings.share_mail %}
    <li class="social-links__item">
      <a
        href="mailto:?body={{ share_title }} - {{ share_link }}"
        class="social-links__link icon-fallback"
        aria-label="Share via email"
      >
        {%- render 'icons-social', icon: 'email', title: 'Email' -%}
      </a>
    </li>
  {% endif %}
</ul>
