{% comment %} TODO: Inline styles {% endcomment %}
{%- liquid
  if section.settings.bg_color.alpha == 0 or section.settings.bg_color == settings.color_bg
    assign section_bg = false
  else
    assign section_bg = true
  endif

  if section.settings.divider_top == true or section.settings.divider_bottom == true
    assign section_divider = true
  else
    assign section_divider = false
  endif

  if section.settings.section_bottom_margin
    assign margin_class = 'section--mb-0'
  endif

  if section.settings.color_text.alpha > 0
    assign color_text = section.settings.color_text
  else
    assign color_text = settings.color_text
  endif

  assign text_color_brightness = color_text | color_brightness

  assign sizes = '100vw'

  assign enable_carousel_desktop = false
  assign enable_carousel_mobile = section.settings.enable_carousel_mobile
  assign grid = section.settings.grid
  assign grid_mobile = section.settings.grid_mobile

  case grid_mobile
    when '1'
      if enable_carousel_mobile
        assign mobile_sizes = 'calc(100vw - 96px)'
      else
        assign mobile_sizes = 'calc(100vw - 36px)'
      endif
    when '2'
      if enable_carousel_mobile
        assign mobile_sizes = 'calc(50vw - 96px)'
      else
        assign mobile_sizes = 'calc(50vw - 36px)'
      endif
  endcase

  case grid
    when 1
      assign sizes = '(min-width: 1600px) calc(80vw - 60px), (min-width: 981px) calc(100vw - 60px), (min-width: 768px) calc(100vw - 36px), ' | append: mobile_sizes
    when 2
      assign sizes = '(min-width: 1600px) calc((80vw - 90px) / 2), (min-width: 981px) calc((100vw - 90px) / 2), (min-width: 768px) calc((100vw - 66px) / 2), ' | append: mobile_sizes
    when 3
      assign sizes = '(min-width: 1600px) calc((80vw - 108px) / 3), (min-width: 981px) calc((100vw - 108px) / 3), (min-width: 768px) calc((100vw - 84px) / 3), ' | append: mobile_sizes
    when 4
      assign sizes = '(min-width: 1600px) calc((80vw - 132px) / 4), (min-width: 981px) calc((100vw - 132px) / 4), (min-width: 768px) calc((100vw - 60px) / 2), ' | append: mobile_sizes
    when 5
      assign sizes = '(min-width: 1600px) calc((80vw - 156px) / 5), (min-width: 981px) calc((100vw - 156px) / 5), (min-width: 768px) calc((100vw - 84px) / 3), ' | append: mobile_sizes
    when 6
      assign sizes = '(min-width: 1600px) calc((80vw - 180px) / 6), (min-width: 981px) calc((100vw - 180px) / 6), (min-width: 768px) calc((100vw - 84px) / 3), ' | append: mobile_sizes
    when 7
      assign sizes = '(min-width: 1600px) calc((80vw - 204px) / 7), (min-width: 981px) calc((100vw - 204px) / 7), (min-width: 768px) calc((100vw - 108px) / 4), ' | append: mobile_sizes
    when 8
      assign sizes = '(min-width: 1600px) calc((80vw - 228px) / 8), (min-width: 981px) calc((100vw - 228px) / 8), (min-width: 768px) calc((100vw - 108px) / 4), ' | append: mobile_sizes
  endcase

  assign show_link = false
  if section.settings.link_title != blank and section.settings.link != blank
    assign show_link = true
  endif

  comment
    Determine if the items-scroll component should only show counter on mobile
  endcomment
  assign show_counter_for_all_on_mobile = false
  if section.blocks.size > 1
    for block in section.blocks
      assign number_of_pages_on_mobile = section.blocks.size | divided_by: grid_mobile
      if number_of_pages_on_mobile > 6
        assign show_counter_for_all_on_mobile = true
        break
      endif
    endfor
  endif

  assign button_color = 'initial'
  assign button_hover_color = 'initial'
  assign button_background_color = 'initial'
  assign button_hover_background_color = 'initial'
  if section.settings.section_link_style contains 'link'
    assign button_color = color_text
  elsif section.settings.section_link_style == 'c-btn c-btn--hollow'
    assign button_color = color_text
    if text_color_brightness > 125
      assign text_contrast_color = '#000'
    else
      assign text_contrast_color = '#fff'
    endif
    assign button_hover_color = text_contrast_color
    assign button_hover_background_color = color_text
  elsif section.settings.section_link_style == 'c-btn c-btn--mono'
    assign button_background_color = color_text
    if text_color_brightness < 125
      assign button_color = 'white'
      assign button_hover_color = 'white'
      assign button_hover_background_color = color_text | color_lighten: 10
    else
      assign button_color = 'black'
      assign button_hover_color = 'black'
      assign button_hover_background_color = color_text | color_darken: 10
    endif
  endif
-%}

{% if section.index > 2 or section.location == 'footer' %}
  <link
    rel="stylesheet"
    href="{{ 'section-logo-list.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <noscript>
    {{ 'section-logo-list.css' | asset_url | stylesheet_tag }}
  </noscript>
  {%- if enable_carousel_mobile -%}
    <link
      rel="stylesheet"
      href="{{ 'component-items-scroll.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    <link
      rel="stylesheet"
      href="{{ 'theme-component-items-scroll-paged-navigation.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    <noscript>
      {{ 'component-items-scroll.css' | asset_url | stylesheet_tag }}
      {{ 'theme-component-items-scroll-paged-navigation.css' | asset_url | stylesheet_tag }}
    </noscript>
  {%- endif -%}
{% else %}
  {{ 'section-logo-list.css' | asset_url | stylesheet_tag }}
  {%- if enable_carousel_mobile -%}
    {{ 'component-items-scroll.css' | asset_url | stylesheet_tag }}
    {{ 'theme-component-items-scroll-paged-navigation.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{% endif %}

<section
  class="
    section
    section--{{ section.id }}
    section--logo-list
    {{ margin_class }}
    {% if section_bg %}
      section--has-bg
    {% else %}
      section--no-bg
    {% endif %}
    {% if show_link %} section--has-link{% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="logo-list"
  style="
    --color-text: {{ color_text }};
    --color-heading: {% if section.settings.color_default_heading %}{{ settings.color_headings }}{% else %}{{ color_text }}{% endif %};
    {% unless section.settings.color_default_border -%}
      --color--title-border: {{ color_text }};
    {%- endunless %}
    --button-color: {{ button_color }};
    --button-hover-color: {{ button_hover_color }};
    --button-background-color: {{ button_background_color }};
    --button-hover-background-color: {{ button_hover_background_color }};
  "
>
  <div class="container{% if section.settings.section_width == 'full' %} container--full container--p-0{% endif %}{% unless section_bg or section_divider %} container--p-0{% endunless %}">
    <div
      class="
        logo-list
        {% if section.settings.divider_top %}
          section-divider--top
          {% if section_bg == false %}
            section-divider--top-p
          {% endif %}
        {% endif %}
        {% if section.settings.divider_bottom %}
          section-divider--bottom
          {% if section_bg == false %}
            section-divider--bottom-p
          {% endif %}
        {% endif %}
      "
      style="--background-color: {{ section.settings.bg_color }};"
    >
      <div
        class="logo-list__content"
        style="
          --space-top: {{ section.settings.padding_top }}px;
          --space-bottom: {{ section.settings.padding_bottom }}px
        "
      >
        <div class="container container--{{ section.settings.content_width }}">
          {% if section.settings.title != blank or section.settings.desc != blank %}
            <div
              class="section__title {% if section.settings.heading_alignment == 'center' %}section__title--center{% endif %} {% if section.settings.enable_carousel_mobile == false %}u-ph0@mob{% endif %}{% unless section.settings.desc == blank %} section__title--desc{% endunless %} js-animate-single"
              data-animation-displacement="5"
            >
              {% unless section.settings.title == blank %}
                <h2 class="section__title-text js-underline">{{ section.settings.title | escape }}</h2>
              {% endunless %}
              {% unless section.settings.desc == blank %}
                <div
                  class="section__title-desc rte js-animate-single"
                  data-animation-displacement="0"
                  data-animation-delay="0.1"
                >
                  {{ section.settings.desc }}
                </div>
              {% endunless %}
            </div>
          {% endif %}
        </div>

        <div class="container container--{{ section.settings.content_width }}{% if section.settings.enable_carousel_mobile %} u-ph0@mob{% endif %}">
          {%- liquid
            comment
              Items scroll logic
            endcomment
            assign grid_tag = 'div'
            assign grid_tag_attributes = ''
            if enable_carousel_desktop or enable_carousel_mobile
              assign grid_tag = 'items-scroll-paged-navigation'
              assign classes = 'items-scroll'
              comment
                Can choose from 'mob', 'phab', 'tab', 'desk'
                Widths need to be in sync with the ones in items-scroll.js
              endcomment
              assign breakpoint = 'tab'
              if enable_carousel_mobile and enable_carousel_desktop == false
                assign grid_tag_attributes = 'breakpoint-max="' | append: breakpoint | append: '"'
                assign mq_bound = 'max'
                assign mq_adjustment = 0
              endif
              if enable_carousel_mobile == false and enable_carousel_desktop
                assign grid_tag_attributes = 'breakpoint-min="' | append: breakpoint | append: '"'
                assign mq_bound = 'min'
                assign mq_adjustment = 1
              endif
            endif
          -%}

          {%- if grid_tag == 'items-scroll-paged-navigation' -%}
            {%- capture selector -%}
                .section--{{ section.id }} [data-items] {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    overflow-x: hidden;
                }

                .section--{{ section.id }} [data-items] > * {
                    flex-shrink: 0;
                    flex-grow: 0;
                }
            {%- endcapture -%}
            <style>
              {%- if mq_bound -%}
                  {%- case breakpoint -%}
                      {%- when 'mob' -%}
                          @media screen and ({{ mq_bound }}-width: {{ 480 | plus: mq_adjustment }}px) {
                              {{ selector }}
                          }
                      {%- when 'phab' -%}
                          @media screen and ({{ mq_bound }}-width: {{ 560 | plus: mq_adjustment }}px) {
                              {{ selector }}
                          }
                      {%- when 'tab' -%}
                          @media screen and ({{ mq_bound }}-width: {{ 768 | plus: mq_adjustment }}px) {
                              {{ selector }}
                          }
                      {%- when 'desk' -%}
                          @media screen and ({{ mq_bound }}-width: {{ 980 | plus: mq_adjustment }}px) {
                              {{ selector }}
                          }
                  {%- endcase -%}
              {%- else -%}
                  {{ selector }}
              {%- endif -%}
            </style>
          {%- endif -%}

          {%- liquid
            assign items_overflow = false
            assign block_count = section.blocks.size

            if enable_carousel_mobile and enable_carousel_desktop
              if block_count > grid
                assign items_overflow = true
              elsif block_count > grid_mobile
                assign items_overflow_max = breakpoint
              endif
            elsif enable_carousel_mobile and enable_carousel_desktop == false
              if block_count > grid_mobile
                assign items_overflow_max = breakpoint
              endif
            else
              if block_count > grid
                assign items_overflow_min = breakpoint
              endif
            endif
          -%}

          <{{ grid_tag }}
            class="{{ classes }}"
            {% if items_overflow %}
              items-overflow
            {% elsif items_overflow_max %}
              items-overflow-max="{{ items_overflow_max }}"
            {% elsif items_overflow_min %}
              items-overflow-min="{{ items_overflow_min }}"
            {% endif %}
            {{ grid_tag_attributes }}
            {% if show_counter_for_all_on_mobile %}
              mobile-counter-only
            {% endif %}
          >
            {%- capture animation_settings -%}
                [
                {
                    "selector": ".logo-list__item-content",
                    "interval": "0.15",
                    "duration": "0.5"
                }
                ]
            {%- endcapture -%}
            <div
              class="
                grid-layout
                grid-layout--{{ grid }}
                grid-layout--{{ grid_mobile }}@mob
                grid-spacing--24
                {% if grid > block_count %}
                grid-layout--align-center
                {% endif %}
                grid-layout--uniform-rows
                js-animate-sequence
              "
              data-items
              data-animation="{{ animation_settings | escape }}"
            >
              {%- for block in section.blocks -%}
                {% assign image_scale = block.settings.scale | divided_by: 100.0 | plus: 0.5 %}
                <div
                  class="logo-list__item"
                  style="
                    --image-scale: {{ image_scale }};
                    --image-width: {{ section.settings.logo_width }}%;
                    --image-width-mobile: {{ section.settings.logo_width_mobile }}%;
                    --image-opacity: {{ section.settings.opacity }}%;
                  "
                >
                  {%- if block.settings.link != blank -%}
                    <a href="{{ block.settings.link }}" class="logo-list__link">
                  {%- endif %}
                  <div class="logo-list__item-content u-flex u-flex--middle u-flex--center">
                    {% if block.settings.image != blank %}
                      {% render 'image',
                        image: block.settings.image,
                        alt_string: block.settings.image.alt,
                        additional_classes: 'logo-list__img',
                        image_default_width: '240',
                        image_ratio: 'natural',
                        image_srcset_widths: '90, 120, 180, 240, 300, 360, 420, 540, 720, 900, 1080',
                        image_sizes: sizes,
                        render_skeleton: true,
                        loading: 'lazy',
                        skeleton_color: 'transparent'
                      %}
                    {% else %}
                      <div
                        class="logo-list__placeholder"
                        style="
                          --image-width: {{ section.settings.logo_width }}%;
                          --image-width-mobile: {{ section.settings.logo_width_mobile }}%;
                          --image-opacity: {{ section.settings.opacity }}%;
                        "
                      >
                        <div class="o-ratio o-ratio--4:3">
                          <div class="o-ratio__content">
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--light' }}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  {%- if block.settings.link != blank -%}
                    </a>
                  {%- endif %}
                </div>
              {%- endfor -%}
            </div>
          </{{ grid_tag }}>
        </div>

        <div class="container container--{{ section.settings.content_width }}">
          {%- if show_link -%}
            <div class="section__link section__link--center js-animate-single" data-animation-displacement="0">
              <a
                href="{{ section.settings.link }}"
                class="section__link-link {{ section.settings.section_link_style }}"
              >
                {{- section.settings.link_title | escape -}}
                {%- if section.settings.section_link_style contains 'link--arrow' -%}
                  {% render 'icons-theme', icon: 'chevron' %}
                {%- endif -%}
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  {%- if enable_carousel_desktop or enable_carousel_mobile or request.design_mode -%}
    <script src="{{ 'items-scroll-paged-navigation.js' | asset_url }}" type="module"></script>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Logo list",
  "class": "js-section__logo-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Position"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading and text position",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Width"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "default": "full",
      "options": [
        {
          "label": "Contained",
          "value": "large"
        },
        {
          "label": "Full",
          "value": "full"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width (desktop)",
      "default": "large",
      "options": [
        {
          "label": "Default",
          "value": "large"
        },
        {
          "label": "Narrow",
          "value": "small"
        },
        {
          "label": "Wide",
          "value": "wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Columns per row",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 5
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo width",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 80,
      "unit": "%",
      "info": "Individual logo sizes can be fined tuned inside the blocks."
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "grid_mobile",
      "label": "Columns per row",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "Logo width",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 80,
      "unit": "%",
      "info": "Individual logo sizes can be fined tuned inside the blocks."
    },
    {
      "type": "checkbox",
      "id": "enable_carousel_mobile",
      "label": "Enable carousel",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors and borders"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "checkbox",
      "id": "color_default_heading",
      "label": "Use default heading color",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "color_default_border",
      "label": "Use default brand border color",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "divider_top",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "divider_bottom",
      "label": "Show bottom border",
      "default": false
    },
    {
      "type": "range",
      "id": "opacity",
      "label": "Logo opacity",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 100
    },
    {
      "type": "header",
      "content": "Section button"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "section_link_style",
      "label": "Style",
      "default": "link link--arrow",
      "options": [
        {
          "value": "c-btn c-btn--primary",
          "label": "Brand button"
        },
        {
          "value": "c-btn c-btn--mono",
          "label": "Mono button"
        },
        {
          "value": "c-btn c-btn--hollow",
          "label": "Outline button"
        },
        {
          "value": "link link--arrow",
          "label": "Chevron"
        },
        {
          "value": "link--underline",
          "label": "Body text"
        }
      ]
    },
    {
      "type": "header",
      "content": "Padding and margin"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding",
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 3,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 3,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "section_bottom_margin",
      "label": "Reduce bottom margin",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "scale",
          "label": "Logo scale",
          "min": 5,
          "max": 100,
          "step": 5,
          "default": 50
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "index",
      "list-collections",
      "page",
      "product",
      "search"
    ],
    "groups": ["footer"]
  }
}
{% endschema %}
