{% if section.index > 2 or section.location == 'footer' %}
  <link
    rel="stylesheet"
    href="{{ 'component-blog.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <noscript>
    {{ 'component-blog.css' | asset_url | stylesheet_tag }}
  </noscript>
{% else %}
  {{ 'component-blog.css' | asset_url | stylesheet_tag }}
{% endif %}
{%- liquid
  if section.settings.section_bottom_margin
    assign margin_class = 'section--mb-0'
  endif

  if section.settings.section_link_title != blank and section.settings.section_link_link != blank
    assign show_section_link = true
  endif

  assign blog = blogs[section.settings.blog]
  assign show_tags = section.settings.blog_show_tags
  assign show_date = section.settings.blog_show_date
  assign show_read_more = section.settings.blog_show_read_more

  case section.settings.grid
    when 1
      assign grid_item_width = 'u-1/1@tab'
    when 2
      assign grid_item_width = 'u-1/2@tab'
    when 3
      assign grid_item_width = 'u-1/2@tab u-1/3@desk'
  endcase
-%}
<section
  class="
    section
    section--blog
    section--{{ section.id }}
    {{ margin_class }}
    {% if section.settings.divider_top %}
      section-divider--top section-divider--top-p
    {% endif %}
    {% if section.settings.divider_bottom %}
      section-divider--bottom
      {% if show_section_link %}
        section-divider--bottom-p
      {% endif %}
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="blog"
>
  <div
    class="section__content section__content--padded"
    style="
      --space-top: {{ section.settings.padding_top }}px;
      --space-bottom: {{ section.settings.padding_bottom }}px
    "
  >
    <div class="container{% if section.settings.grid == 1 %} container--tiny{% else %} container--{{ section.settings.section_width }}{% endif %}">
      {%- if section.settings.title != blank or section.settings.desc != blank -%}
        <div
          class="
            section__title
            js-animate-single
            {% if section.settings.heading_alignment == 'center' %}section__title--center{% endif %}
            {% unless section.settings.desc == blank %} section__title--desc{% endunless %}
          "
          data-animation-displacement="5"
        >
          {%- unless section.settings.title == blank -%}
            <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
          {%- endunless -%}
          {%- unless section.settings.desc == blank -%}
            <div
              class="section__title-desc rte js-animate-single"
              data-animation-displacement="0"
              data-animation-delay="0.1"
            >
              {{ section.settings.desc }}
            </div>
          {%- endunless -%}
        </div>
      {%- endif -%}
      <div class="home-blog">
        <div class="home-blog__items">
          <div class="o-layout js-animate-sequence">
            {% unless blog.empty? or blog.articles_count == 0 %}
              {% for article in blog.articles limit: section.settings.post_limit %}
                <div class="o-layout__item u-1/1 {{ grid_item_width }}">
                  {% render 'blog-grid-item',
                    article: article,
                    show_tags: show_tags,
                    show_date: show_date,
                    show_read_more: show_read_more,
                    grid: section.settings.grid,
                    image_ratio: section.settings.blog_image_ratio,
                    index: forloop.index
                  %}
                </div>
              {% endfor %}
            {% else %}
              {% for i in (1..section.settings.post_limit) %}
                <div class="o-layout__item u-1/1 {{ grid_item_width }}">
                  <div class="blog{% unless show_date %} blog--no-date{% endunless %}">
                    <div class="blog__media-wrapper">
                      <a href="#" class="home-blog__link blog-link">
                        <div
                          class="o-ratio o-ratio--{{ section.settings.blog_image_ratio }}"
                          {% if section.settings.blog_image_ratio == 'natural' %}
                            style="padding-bottom:100%;"
                          {% endif %}
                        >
                          <div class="o-ratio__content">
                            <div class="blog__media" style="height: 100%;">
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--light' }}
                            </div>
                          </div>
                        </div>
                      </a>
                      {% if show_date %}
                        <div class="blog__date label label--brand{% if settings.product_grid_label_position_left %} blog__date--position_left{% endif %}">
                          <p class="blog__date-text label__text">{{ 'homepage.onboarding.blog_date' | t }}</p>
                        </div>
                      {% endif %}
                    </div>
                    <div class="blog__details">
                      <a href="#" class="home-blog__link blog-link">
                        <h3 class="blog__title h3">{{ 'homepage.onboarding.blog_title' | t }}</h3>
                      </a>
                      <div class="blog__text rte">
                        {{ 'homepage.onboarding.blog_excerpt' | t }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endunless %}
          </div>
        </div>
      </div>

      {% render 'section-link',
        title: section.settings.section_link_title,
        link: section.settings.section_link_link,
        style: section.settings.section_link_style,
        additional_classes: 'u-mt0'
      %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "class": "js-section__home-blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Text"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "select",
      "id": "blog_image_ratio",
      "label": "Image ratio",
      "default": "4:3",
      "options": [
        {
          "value": "1:1",
          "label": "Square (1:1)"
        },
        {
          "value": "3:4",
          "label": "Portrait (3:4)"
        },
        {
          "value": "4:3",
          "label": "Landscape (4:3)"
        },
        {
          "value": "16:9",
          "label": "Wide (16:9)"
        },
        {
          "value": "2:3",
          "label": "Tall (2:3)"
        },
        {
          "value": "natural",
          "label": "Natural"
        }
      ]
    },
    {
      "type": "header",
      "content": "Position and visibility"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Section heading and text",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_read_more",
      "label": "Show 'read more' link",
      "default": true
    },
    {
      "type": "header",
      "content": "Width"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "default": "large",
      "options": [
        {
          "label": "Default",
          "value": "large"
        },
        {
          "label": "Narrow",
          "value": "small"
        },
        {
          "label": "Wide",
          "value": "wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Maximum posts to display",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Posts per row",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "header",
      "content": "Borders"
    },
    {
      "type": "checkbox",
      "id": "divider_top",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "divider_bottom",
      "label": "Show bottom border",
      "default": false
    },
    {
      "type": "header",
      "content": "Section button"
    },
    {
      "type": "text",
      "id": "section_link_title",
      "label": "Label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "section_link_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "section_link_style",
      "label": "Style",
      "default": "link link--arrow",
      "options": [
        {
          "value": "c-btn c-btn--primary",
          "label": "Brand button"
        },
        {
          "value": "c-btn c-btn--mono",
          "label": "Mono button"
        },
        {
          "value": "c-btn c-btn--hollow",
          "label": "Outline button"
        },
        {
          "value": "link link--arrow",
          "label": "Chevron"
        },
        {
          "value": "link--underline",
          "label": "Body text"
        }
      ]
    },
    {
      "type": "header",
      "content": "Padding and margin"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding",
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 3,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 3,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "section_bottom_margin",
      "label": "Reduce bottom margin",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "settings": {
        "blog": "News",
        "post_limit": 2
      }
    }
  ],
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
